# Add any directories, files, or patterns you don't want to be tracked by version control
# Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin